extends ../main

block content
  //- Start Navbar
  include ../sections/navbar

  //- Start Background-header
  include ../sections/background-header

  //- Start home-Features
  include ../sections/home-features

  //- Start Features
  include ../sections/features

  //- Start Work-Process
  include ../sections/work-process

  //- Start Testimonials
  include ../sections/testim

  //- Start Table Price
  include ../sections/tablePrice

  //- Start Counter
  include ../sections/counter

  //- Start blog Enteris
  include ../sections/blogEnteris

  //- Start blog Enteris
  include ../sections/contact

  //- Start blog Enteris
  include ../sections/footer

