.background-header.d-flex.flex-column.justify-content-center.align-items-center.text-center#home
  h3.text-white.mb-4 We Provide The Best Strategy <br> To Grow Up Your business
  p.text-white.mb-4 Softy Pinko is a professional Bootstrap 4.0 theme designed by Template Mo for your company at absolutely free of charge
  a(href='#').btn.btn-secondary.rounded-pill Discover More