section.blog.text-center#blog
  h3.mb-4 Blog Entrise
  p.text-muted.mb-5 Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie
  .container
    .row.row-cols-1.row-cols-md-2.row-cols-lg-3
      .col
        .card.border-0.mb-5.mb-lg-0
          img(src="image/blog-item-01.png", alt="blog").img-fluid
          .card-body
            a(href='#').text-body Vivamus ac vehicula dui
            p.text-muted Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue
            a(href='#').btn.btn-primary Read More
      .col
        .card.border-0.mb-5.mb-lg-0
          img(src="image/blog-item-02.png", alt="blog").img-fluid
          .card-body
            a(href='#').text-body Phasellus convallis augue
            p.text-muted Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue
            a(href='#').btn.btn-primary Read More
      .col
        .card.border-0.mb-5.mb-lg-0
          img(src="image/blog-item-03.png", alt="blog").img-fluid
          .card-body
            a(href='#').text-body Nam gravida purus non
            p.text-muted Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue
            a(href='#').btn.btn-primary Read More