section.contact#contact
  .container
    .row
      .col-md-6
        .head-section.text-center.mb-5
          h3 Talk To Us
          p.text-muted Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper
        h4 Keep in touch
        p.text-muted 110-220 Quisque diam odio, maximus ac consectetur eu, 10260 auctor non lorem
        p.text-muted You are NOT allowed to re-distribute Softy Pinko template on any template collection websites. Thank you
      .col-md-6
        form
          .form-row
            .col-12.col-md-6
              .form-group
                input(type="text", placeholder='Full Name').form-control.border-0.rounded-pill
            .col-12.col-md-6
              .form-group
                input(type="email", placeholder='E-mail Address').form-control.border-0.rounded-pill
          textarea(placeholder='Your Message').form-control.border-0
          button(type="submit").btn.btn-primary.rounded-pill.py-2.mt-4 Send Message