section.counter.text-white.d-flex.flex-column.justify-content-center.align-items-center#counter
  p 126
    span.d-block Projects
  p 63
    span.d-block Happy Clients
  p 18
    span.d-block Awards Wins
  p 27
    span.d-block Countries