section.features.py-5.mt-5#feat
  .container
    .row.py-5
      .col-md-5
        .sec-img.text-center
          img(src="image/left-image.png", alt="image")
      .col-md-6
        .desc.mt-5
          h3.mb-4 Let’s discuss about you project
          p.text-muted Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue blandit, at finibus leo efficitur. Nam gravida purus non sapien auctor, ut aliquam magna ullamcorper
    hr
    .row.py-5
      .col-md-7
        .desc.mt-5
          h3.mb-4 We can help you to grow your business
          p.text-muted Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna. Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit
      .col-md-5
        .sec-img.text-center
          img(src="image/right-image.png", alt="image")
