footer.footer.d-flex.flex-column.align-items-center#footer
  ul.list-unstyled.d-flex
    li.mr-2
      a(href='#').fa.fa-facebook.bg-white.text-primary.rounded-circle
    li.mr-2
      a(href='#').fa.fa-twitter.bg-white.text-primary.rounded-circle
    li.mr-2
      a(href='#').fa.fa-linkedin.bg-white.text-primary.rounded-circle
    li.mr-2
      a(href='#').fa.fa-rss.bg-white.text-primary.rounded-circle
    li.mr-2
      a(href='#').fa.fa-dribbble.bg-white.text-primary.rounded-circle
  hr.my-4.w-50
  p.text-white.text-uppercase.px-1.mb-0 copyRight © 2020 Sofy Khaled Company - Design: Templaremo