section.home-features#hom-feat
  .container
    .row
      - for(i= 0; i< 3; i++)
        .col-lg-4.mb-3.mb-lg-0
          .card.shadow.text-center
            .img
              img(src="image/featured-item-01.png", alt="image")
            .card-body
              .h3.h4 Ultimate Marketing
              p.text-muted Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis similique tempore obcaecati