-var menu = [ 'Home', 'About', 'Work Process', 'Testimonials','Price Tables', 'Blog Entrise', 'Contact Us']
-var section = ['#home','#hom-feat','#work','#testim','#price','#blog','#contact']


// Start navbar
.container.fixed-top.mt-4
  nav.navbar.navbar-expand-lg.navbar-light.bg-white.rounded-pill.py-3.text-center
    a(href='/index').navbar-brand
      img(src="image/logo.png", alt="", srcset="")
    button.navbar-toggler(data-toggle='collapse', data-target='#navContent')
      span
    .navbar-collapse.collapse#navContent
      .navbar-nav.ml-auto.mt-4.mt-lg-0
        each value, key in menu
          if activeLink === value
            a(href= section[key] ).nav-link.active #{value}
          else
            a(href= section[key] ).nav-link #{value}
