section.price.text-center#price
  h3 Pricing Plans
  p.text-muted Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat
  .container
    .row.row-cols-1.row-cols-lg-3
      //- Card One
      .col.mb-5
        .card.p-5.border-0.shadow-lg.rounded-lg
          h5.mb-5 Start
          p.text-white.bg-primary.py-4
            span
              | $
            span
              | 14.50
            span.d-block
              | monthly
          .list-group.list-group-flush
            .list-group-item
              | 60 Gb Space
            .list-group-item
              | 600 GB Transfer
            .list-group-item
              | Pro Design Panel
            .list-group-item
              | 15- minute
            .list-group-item
              | Unlimited Emails
            .list-group-item
              | 24/7 Security
          a.card-footer.bg-primary.text-white.mt-3.mx-auto.w-75 Purchase Now
      //- Card Two
      .col.mb-5
        .card.p-5.border-0.shadow-lg.rounded-lg
          h5.mb-5 Premium
          p.text-white.bg-secondary.py-4
            span
              | $
            span
              | 21.50
            span.d-block
              | monthly
          .list-group.list-group-flush
            .list-group-item
              | 60 Gb Space
            .list-group-item
              | 600 GB Transfer
            .list-group-item
              | Pro Design Panel
            .list-group-item
              | 15- minute
            .list-group-item
              | Unlimited Emails
            .list-group-item
              | 24/7 Security
          a.card-footer.bg-primary.text-white.mt-3.mx-auto.w-75 Purchase Now
      //- Card Three
      .col.mb-5
        .card.p-5.border-0.shadow-lg.rounded-lg
          h5.mb-5 Start
          p.text-white.bg-primary.py-4
            span
              | $
            span
              | 14.50
            span.d-block
              | monthly
          .list-group.list-group-flush
            .list-group-item
              | 60 Gb Space
            .list-group-item
              | 600 GB Transfer
            .list-group-item
              | Pro Design Panel
            .list-group-item
              | 15- minute
            .list-group-item
              | Unlimited Emails
            .list-group-item
              | 24/7 Security
          a.card-footer.bg-primary.text-white.mt-3.mx-auto.w-75 Purchase Now