section.work-process.text-center#work
  h3.text-white Work Process
  p.text-white Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut ex. Donec ante diam.
  .container
    .row
      - for(var i=0; i<6; i++)
        .col-6.col-md-3.col-lg-2.mb-4.mb-lg-0
          .card.pt-3
            img(src="image/work-process-item-01.png", class='m-auto', alt="image", width='32', height='32')
            .card-body
              h3 Get ideas
              p.mb-0.text-muted Godard pabst prism fam cliche
