//- For Navbar Link
block navLinkActive
  -var activeLink = 'Home' // Default


<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // Fonts Google
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap")
    link(rel="stylesheet", href="css/all.min.css")
    block titlePage
      title Index
  body
    block content

    //- JavaScripts
    script(src="js/all.min.js")
